 <!--Automation styles -->
 <div class="{%if product.tags contains 'Testing'%} testing {% endif%} new-buy-buttons">
     {% assign FramedFriend = product.description | split: '||' %}
     {% assign stripped = FramedFriend[1] | strip %}

     <div class="varient-size-title">Select framing</div>
     <div data-id="print" class="framed-varient selected print">No Frame</div>
     <div data-id="framed" class="framed-varient framed" data-varients="{{ varientID[1] }}">Framed print</div>


     <div class="varient-sizes framed">

         {% assign varientIDS = product.variants %}

         {% if product.options.size <= 1 %}
         {% include 'product-varient-row' with option: varient.name , option_name: 'size & frame style' , selected: selected, varientArray: varientIDS %}
         {% else %}
         {% for option in product.options_with_values %}
         {% assign option_name = 'option' | append: option.position %}
         {% include 'product-option-row' with option: option, option_name: option_name, class: 'varient-size-title'%}
         {% endfor %}
         <input class="js-variant-id" type="hidden" name="id"
             value="{% if has_selected_variant %}{{ product.selected_variant.id}}{% elsif has_multiple_variants != true %}{{ product.variants.first.id }}{% endif %}">
         {% endif %}
     </div>

     <div class="varient-sizes print display">
         <!-- Needs dynamic handle -->
         {% assign Producthandle = product.description | split: '||' %}
         {% assign useHandle = Producthandle[1] | strip %}

         {% for handle in Producthandle %}
         {% assign testHandle = handle | strip | strip_html | strip_newlines %}
         {% assign varientFramedIDS = all_products[testHandle].variants %}
         {% endfor %}

         {% include 'product-varient-row' with option: varient.name , option_name: 'Print Size' , selected: selected , varientArray: varientFramedIDS %}

     </div>





     <div class="form-message error">
         <h2>Select print style</h2>
     </div>
     <div class="form-message inprogress">
         <h2>Adding print to basket please wait...</h2>
     </div>
     <div class="form-message done">
         <h2>Added print to basket <a href="/cart">Go to basket</a></h2>
     </div>
     <form action="/cart/add" method="post" id="product-form-{{ product.id }}">
         <div class="product-form__item">
             <input type="hidden" name="id" value="{{ product.variants.first.id }}">
             <div>
                 <div data-variant="32689948786828" data-product="{{ product.id }}"
                     data-ajax-enabled="{{ settings.enable_ajax }}" id="add-to-cart-button" type="submit" name="add"
                     aria-label="Add to cart" class="btn product-form__cart-submit btn--secondary-accent"
                     data-add-to-cart="">
                     <span data-add-to-cart-text="">
                         Add print to basket
                     </span>
                     <span class="hide" data-loader="">
                         <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner"
                             viewBox="0 0 20 20">
                             <path
                                 d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z"
                                 fill="#919EAB"></path>
                         </svg>
                     </span>
                 </div>
             </div>
         </div>
     </form>
 </div>


 {% if product.tags contains 'Testing'%}
 {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/0.4.3/cart.min.js"></script>
 {% include 'rf-auto' %}
 {% endif %}
 </div>