



<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm-{{framedProd.id}}"  class="add-to-cart-form {{framedProd.id}}" data-current="{{framedProd.id}}" data-handle="{{framedProd.handle}}">
 
  <select name="id" id="framedProdSelect">
    {% for variant in framedProd.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %} 
    {% endfor %}
  </select>
 
  {{ current_variant.price | money }}
  
  <button type="submit" name="add" id="AddToCart" class="add-to-cart-button-{{framedProd.id}}">
  Add to cart
  </button>
</form>

<script>
  // <![CDATA[
  var selectCallback = function(variant, selector) {
    if (variant) {
      if (variant.available) {
        // Selected a valid variant that is available.
        $('#add').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
      } else {
        // Variant is sold out.
        $('#add').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
      }
      // Whether the variant is in stock or not, we can update the price and compare at price.
      if ( variant.compare_at_price > variant.price ) {
        $('#price-field').html('<span class="framedProd-price on-sale">'+ Shopify.formatMoney(variant.price, "") +'</span>'+'&nbsp;<s class="framedProd-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
      } else {
        $('#price-field').html('<span class="framedProd-price">'+ Shopify.formatMoney(variant.price, "") + '</span>' );
      }
    } else {
      // variant doesn't exist.
      $('#add').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
    }
  }
  // initialize multi selector for framedProd
  jQuery(function($) {
    new Shopify.OptionSelectors("framedProdSelect", { product: {{ framedProd | json }}, onVariantSelected: selectCallback });
  });
  // ]]>

</script>