<!doctype html>
<html class="supports-no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="p:domain_verify" content="0240a8be895413ef2263be9fc389d678"/>
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{ 'homepage.map.address_error' | t | json }},
        addressNoResults: {{ 'homepage.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'homepage.map.address_query_limit_html' | t | json }},
        authError: {{ 'homepage.map.auth_error_html' | t | json }}
      }
    }
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'rf-style.scss.css' | asset_url | stylesheet_tag }}


  {{ content_for_header }}

  {{ 'jquery-1.11.0.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% include 'judgeme_core' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>


  {% section "mobileNav" %}
  {% section "header" %}

    {% comment %}
    <hr class="small--hide hr--small">
    {% endcomment %}


  {% unless template.name == 'index' or page.template_suffix == 'yuk' %}<div class="rf-wrapper products-wrapper {% if page_title contains 'Edition' %} curated {% endif %} {% if template contains 'curated' %} curated {% endif %}">{% endunless %}

    <div class="grid">

      <main class="main-content grid__item" id="MainContent" role="main">
        {% unless template.name == 'index' or page.template_suffix == 'yuk' %}
          <hr class="hr--border-top small--hide">
        {% endunless %}
        {% if settings.show_breadcrumb_nav and template.name != 'index' %}
              <div class="rf-wrapper breadcrumb-wrapper">
              {% include 'breadcrumb-nav' %}
              </div>
        {% endif %}
        {% unless page_title == "About" or page.template_suffix == 'yuk' %}
        {{ content_for_layout }}
        {% endunless %}
      </main>
    </div>

    {%- if template.name == 'index' -%}
      <p id="slideshow-info" class="visually-hidden" aria-hidden="true">
        {{- 'homepage.slideshow.navigation_instructions' | t -}}
      </p>
    {%- endif -%}

  {% unless template.name == 'index' or page.template_suffix == 'yuk' %}</div>{% endunless %}

  {% if page_title == "About" %}
    {{ content_for_layout }}
  {% endif %}

  {% if page.template_suffix == 'yuk' %}
    {{ content_for_layout }}
  {% endif %}

  {%- if template.name == 'collection' -%}
    {% section 'filters' %}
  {%- endif -%}

  {%- if template.name == 'index' -%}
    <div class="rf-logos rf-columns-container values season-cards">
      <div class="rf-wrapper">
        <div class="rf-columns">
          <div class="rf-col">
            <h1>Explore our seasons</h1>
          </div>
          <div class="rf-col">
            <div class="season-card season-seven">
              <a href="/collections/season-8"></a>
              <div class="big-number">8</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-seven">
              <a href="/collections/season-7"></a>
              <div class="big-number">7</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-six">
              <a href="/collections/season-6"></a>
              <div class="big-number">6</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-five">
              <a href="/collections/season-5"></a>
              <div class="big-number">5</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-four">
              <a href="/collections/season-4"></a>
              <div class="big-number">4</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-three">
              <a href="/collections/all/season-3"></a>
              <div class="big-number">3</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-two">
              <a href="/collections/all/season-2"></a>
              <div class="big-number">2</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
          <div class="rf-col">
            <div class="season-card season-one">
              <a href="/collections/all/season-1"></a>
              <div class="big-number">1</div>
              <div class="rf-button">Explore</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {% section "footer" %}

  {% if template.name == 'product' or template.name == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
      theme.productSingleObject = {{ product | json }};
    </script>
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>

  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'rf-script.js' | asset_url | script_tag }}



{% include 'swymSnippet' %}

{% render 'spurit_dmr_theme_snippet' %}

<!-- spurit_uev-added -->
{% render 'spurit_uev-theme-snippet' %}
<!-- /spurit_uev-added -->

</body>
</html>
