<div class="mobile-nav-links">
  <ul>
    {%- for link in linklists.main-menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
  <div class="menu-extras">
    <ul>
        <li>
          <a href="/pages/contact">Contact</a>
        </li>
        <li>
          <a href="/pages/shipping-and-returns">Returns</a>
        </li>
        <li>
          <a href="/pages/privacy-policy">Privacy policy</a>
        </li>
    </ul>
  </div>
  <div class="menu-description">
    <h1>Curated Art for Everybody</h1>
    <p>RoomFifty sells affordable, museum-quality prints by 50 of the best illustrators and designers in the world. Prices start at £20.</p>
  </div>
</div>
