<!-- /templates/about.page.liquid -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&display=swap" rel="stylesheet">
<div class="yuc-header">
  <div class="rf-wrapper products-wrapper">
    <h1>Young <br/><span class="black">Upstart</span> <br/><span class="italic">Competition</span></h1>
  </div>
  <div class="spinning-head">
    <div class="head"><img src="https://cdn.shopify.com/s/files/1/2567/2510/files/YUC_BANG.png?v=1611754390"></div>
  </div>
</div>
<div class="rf-wrapper intro-yuk products-wrapper winners">
  <h1>The Winners</h1>
  <div class="winners-products flex">
    {% assign winnersProducts = collections.young-upstart-competition.products | reverse %}
    {% for products in winnersProducts %}
      <div class="winner-product">
        <img src="{{ products | img_url: '1024x' }}">
        <h2>
          {{products.title}}
        </h2>
        <p>{{products.price | money }}</p>

        <div class="rf-button">
          <a href="{{ products.url }}">Buy now</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="yuk-beige">
  <div class="rf-wrapper intro-yuk products-wrapper">
    {{ page.content }}
  </div>
</div>
<div class="yuk-red">
  <div class="rf-wrapper enter products-wrapper  intro-yuk">
    <img class="wobble" src="https://cdn.shopify.com/s/files/1/2567/2510/files/tube.png?v=1611604926">
    <h1>Enter now</h1>
    <ol>
      <li>Send one image per artist only </li>
      <li>Submit your image via the form (linked below)</li>
      <li>Images submitted must be 1333 x 1000 px jpeg (though should be available as 24x32” JPG for print)</li>
      <li>Include a name for the image, and a short bio about you, your work and what other work you do</li>
    </ol>
    <p>Competition closes midnight GMT on February 10 2021 and the shortlist and winners will be announced on February 17 2021</p>
    <div class="rf-button">
      <a href="https://roomfifty.typeform.com/to/MZyOGpQR">Enter Awards</a>
    </div>
  </div>
</div>
<div class="yuk-beige">
  <div class="rf-wrapper judges products-wrapper intro-yuk">
    <h1>Judges</h1>
    <div class="flex">
      <p>
      Welcome our wonderful panel of judges from across the creative spectrum.
      </p>

      <h2 class="red">Matt Singer</h2>
      <h2 class="italic red">Warby Parker</h2>
      <h2>Alex Citrin</h2>
      <h2 class="italic">The New York Times</h2>
      <h2 class="red">Emma Shore</h2>
      <h2 class="italic red">Bandcamp</h2>
      <h2>Anna Hardinge</h2>
      <h2 class="italic">How Do You Do?</h2>
      <h2 class="red">Claire Cheung</h2>
      <h2 class="italic red">Studio PI</h2>
      <div class="rf-image">
        <img src="">
      </div>
    </div>
  </div>
</div>
<!-- <div class="rf-wrapper judges products-wrapper intro-yuk">
  <div class="flex flipped">
    <p>
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <div class="rf-image">
      <img src="">
    </div>
  </div>
</div> -->
<div class="rf-wrapper rules products-wrapper intro-yuk">
  <div>
    <h1>The rules</h1>
    <p>• Artists can be any age, but must not be full time artists</p>
    <p>• Please only enter one image per artist</p>
    <p>• Entries after the closing date will not be judged</p>
    <p>• The image must not have been sold as a print or published previously</p>
    <p>• The artist enters the competition understanding that their work may be sold by RoomFifty</p>
    <p>• The artist retains the copyright to their work</p>
    <p>Read our full <a href="https://roomfifty.com/pages/yuc-terms-and-conditions">terms and conditions</a></p>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/2567/2510/files/Coat.png?v=1611604926">
</div>
<div class="rf-wrapper gallery products-wrapper intro-yuk">
  <h1>Entries</h1>
  <div class="gallery-placeholder"></div>
</div>
<script>
  var data = [
    {
      "name": "Sammi Lynch",
      "artName": "Tall Trees",
      "Instagram handle": "sammijlynch",
      "Insta link": "https://www.instagram.com/sammijlynch",
      "Filename": "TallTrees_SammiLynch.jpg"
    },
    {
      "name": "Yogee Chandrasekaran",
      "artName": "Before a Night Out with the Girls",
      "Instagram handle": "yogeechandra",
      "Insta link": "https://www.instagram.com/yogeechandra",
      "Filename": "YogeeChandrasekaran_YUCSubmission_LowRes.jpg"
    },
    {
      "name": "Sam Johnson",
      "artName": "Palm of Hand",
      "Instagram handle": "samjohnsn_",
      "Insta link": "https://www.instagram.com/samjohnsn_",
      "Filename": "palm_of_hand_SJ.jpg"
    },
    {
      "name": "Nicole Gureli",
      "artName": "Carnevale",
      "Instagram handle": "nicolegureliart",
      "Insta link": "https://www.instagram.com/nicolegureliart",
      "Filename": "Gureli_Nicole_Carnevale_YUC.jpg"
    },
    {
      "name": "Emily Lynn Perelman",
      "artName": "Celestial Casino",
      "Instagram handle": "emilylynndesign",
      "Insta link": "https://www.instagram.com/emilylynndesign",
      "Filename": "Celestial_Casino___Emily_Lynn_Perelman.jpg"
    },
    {
      "name": "Anna Niklova",
      "artName": "Fountain",
      "Instagram handle": "anickart",
      "Insta link": "https://www.instagram.com/anickart",
      "Filename": "AnnaNiklova_Fountain.JPG"
    },
    {
      "name": "Ebony Rose Howard",
      "artName": "Misty Doe",
      "Instagram handle": "ehoward05art",
      "Insta link": "https://www.instagram.com/ehoward05art",
      "Filename": "Ebony_Rose_Howard_entry.jpg"
    },
    {
      "name": "Joshua Rush",
      "artName": "A Sustainable Life",
      "Instagram handle": "j.osh.r.ush",
      "Insta link": "https://www.instagram.com/j.osh.r.ush",
      "Filename": "1000x1333px_VER..jpg"
    },
    {
      "name": "Alexandria Hall",
      "artName": "Should have stayed in Spring",
      "Instagram handle": "alexandriaolivia",
      "Insta link": "https://www.instagram.com/alexandriaolivia",
      "Filename": "entry.jpg"
    },
    {
      "name": "Anastacia Sholik",
      "artName": "Dance with Tiger",
      "Instagram handle": "sh0lik",
      "Insta link": "https://www.instagram.com/sh0lik",
      "Filename": "sholik_small.jpg"
    },
    {
      "name": "Hoi Chan",
      "artName": "Quiet Seabed",
      "Instagram handle": "hoichandraws",
      "Insta link": "https://www.instagram.com/hoichandraws",
      "Filename": "Quiet_Seabed.jpg"
    },
    {
      "name": "Taylor Dow",
      "artName": "Weeping Man",
      "Instagram handle": "taydowtaydow",
      "Insta link": "https://www.instagram.com/taydowtaydow",
      "Filename": "dow_superpanel_YUC.jpg"
    },
    {
      "name": "Emily Widdoes",
      "artName": "Midnight Mushrooms",
      "Instagram handle": "emilywiddoes",
      "Insta link": "https://www.instagram.com/emilywiddoes",
      "Filename": "midnightmushrooms.jpg"
    },
    {
      "name": "Fiona Ye - FIYE",
      "artName": "We'll Meet Again",
      "Instagram handle": "_fiye_",
      "Insta link": "https://www.instagram.com/_fiye_",
      "Filename": "FIYE_YUC_submission.jpg"
    },
    {
      "name": "Jack Holland",
      "artName": "One Adult Please",
      "Instagram handle": "jckholland",
      "Insta link": "https://www.instagram.com/jckholland",
      "Filename": "jackhollandyucsentry.jpg"
    },
    {
      "name": "Ellie Shay",
      "artName": "Blueside",
      "Instagram handle": "dimpledoodles_",
      "Insta link": "https://www.instagram.com/dimpledoodles_",
      "Filename": "8C821086_6577_45E9_A380_1B267F614929.jpeg"
    },
    {
      "name": "Alexandra Turban",
      "artName": "A little Break",
      "Instagram handle": "alexandraturban",
      "Insta link": "https://www.instagram.com/alexandraturban",
      "Filename": "A_little_Break_Alexandra_Turban.jpg"
    },
    {
      "name": "Colin Matthes",
      "artName": "Essential Knowledge: Work From Home",
      "Instagram handle": "colinmatthes",
      "Insta link": "https://www.instagram.com/colinmatthes",
      "Filename": "MatthesC_ek76_graphic.jpg"
    },
    {
      "name": "AJ HIGGINS",
      "artName": "Magic Beans",
      "Instagram handle": "a.j_higgins",
      "Insta link": "https://www.instagram.com/a.j_higgins",
      "Filename": "AJHIGGINS_Magic_Beans_YUC_small.jpg"
    },
    {
      "name": "Connor Parker",
      "artName": "Flat perspective",
      "Instagram handle": "connorparker.png",
      "Insta link": "https://www.instagram.com/connorparker.png",
      "Filename": "Flat_perspective.jpg"
    },
    {
      "name": "Maya Halko",
      "artName": "Submarine Fish",
      "Instagram handle": "m.aymo",
      "Insta link": "https://www.instagram.com/m.aymo",
      "Filename": "SubmarineFish_YUCsubmission_Halko.jpg"
    },
    {
      "name": "BOUCKA Fred Therence",
      "artName": "Letter to the blackness in me",
      "Instagram handle": "bftlepictographe",
      "Insta link": "https://www.instagram.com/bftlepictographe",
      "Filename": "DSC_0999.jpg"
    },
    {
      "name": "Julia Feingold",
      "artName": "Modern Day Shopping",
      "Instagram handle": "j_feingold",
      "Insta link": "https://www.instagram.com/j_feingold",
      "Filename": "Feingold_Julia_ModernDayShopping.jpg"
    },
    {
      "name": "Kiran Joan",
      "artName": "Love Garden",
      "Instagram handle": "kiran.joan",
      "Insta link": "https://www.instagram.com/kiran.joan",
      "Filename": "Lovegarden_KiranJoan.jpg"
    },
    {
      "name": "Charlotte MacMillan-Scott",
      "artName": "Gas, 1950",
      "Instagram handle": "charlottemscott_illustration",
      "Insta link": "https://www.instagram.com/charlottemscott_illustration",
      "Filename": "GAS__1950_print.jpg"
    },
    {
      "name": "Annelie Akesson",
      "artName": "She's in Fashion",
      "Instagram handle": "rita_mera",
      "Insta link": "https://www.instagram.com/rita_mera",
      "Filename": "RoomFifty.jpg"
    },
    {
      "name": "Grace Fairley",
      "artName": "BEST FRIENDS",
      "Instagram handle": "fairley_decent",
      "Insta link": "https://www.instagram.com/fairley_decent",
      "Filename": "146267174_268796068106318_6743968769896244062_n.jpg"
    },
    {
      "name": "Benjamin Clark",
      "artName": "Underwater Scene",
      "Instagram handle": "benclarkart",
      "Insta link": "https://www.instagram.com/benclarkart",
      "Filename": "Underwater_Scene.jpg"
    },
    {
      "name": "Isabell Altmaier",
      "artName": "Jungle Cat",
      "Instagram handle": "Isabellaltmaier",
      "Insta link": "https://www.instagram.com/Isabellaltmaier",
      "Filename": "43E0626D_8A77_4F59_B0F5_D43B4BD52A8E.jpeg"
    },
    {
      "name": "Ruta Vaketaite",
      "artName": "Playground",
      "Instagram handle": "rutavakk",
      "Insta link": "https://www.instagram.com/rutavakk",
      "Filename": "0CC1820D_4223_40BB_BEFC_8B056FAC86E7.jpeg"
    },
    {
      "name": "Tsai Mu Ling",
      "artName": "Dreamy organic",
      "Instagram handle": "moooling",
      "Insta link": "https://www.instagram.com/moooling",
      "Filename": "YUC_Tsai_Mu_Ling.jpg"
    },
    {
      "name": "Sam Moore",
      "artName": "Neighbour",
      "Instagram handle": "smamuel.design",
      "Insta link": "https://www.instagram.com/smamuel.design",
      "Filename": "SAM_MOORE_YUC_NEIGHBOUR.jpg"
    },
    {
      "name": "Vicki Wirkijowski",
      "artName": "Finger Puppet (BFF)",
      "Instagram handle": "victoriawirkijowski",
      "Insta link": "https://www.instagram.com/victoriawirkijowski",
      "Filename": "finger_puppet_BFF_wirkijowski.jpeg"
    },
    {
      "name": "Louis Bartlett",
      "artName": "Refracted Audio Volumes",
      "Instagram handle": "_louisbartlett_",
      "Insta link": "https://www.instagram.com/_louisbartlett_",
      "Filename": "YUC_SUBMISSION.jpg"
    },
    {
      "name": "Julia Lowe",
      "artName": "The Solo Parent",
      "Instagram handle": "julia_peculiar_",
      "Insta link": "https://www.instagram.com/julia_peculiar_",
      "Filename": "Solo_Mum.jpg"
    },
    {
      "name": "Sara Nye",
      "artName": "Putting Down Roots",
      "Instagram handle": "sundaygrandma",
      "Insta link": "https://www.instagram.com/sundaygrandma",
      "Filename": "Nye_Sara_YUC_submission.jpg"
    },
    {
      "name": "Amogh Bhatnagar",
      "artName": "Untitled with Agate and Tentacles",
      "Instagram handle": "_amoghbhatnagar_",
      "Insta link": "https://www.instagram.com/_amoghbhatnagar_",
      "Filename": "Amogh_Collage_Artwork_2.jpg"
    },
    {
      "name": "Lois Laryea",
      "artName": "Self portrait",
      "Instagram handle": "lois.laryea",
      "Insta link": "https://www.instagram.com/lois.laryea",
      "Filename": "EA69B0EC_5D64_4C18_ACBE_75C2217CAD52.jpeg"
    },
    {
      "name": "Florence Poppy Dennis",
      "artName": "Good Morning Raccoon",
      "Instagram handle": "florencepoppydennis",
      "Insta link": "https://www.instagram.com/florencepoppydennis",
      "Filename": "GOOD_MORNING___FLORENCE_POPPY_ENTRY_FOR_ROOM_FIFTY.jpg"
    },
    {
      "name": "Giovanni Gastaldi",
      "artName": "The Drummer",
      "Instagram handle": "giovanni.gastaldi",
      "Insta link": "https://www.instagram.com/giovanni.gastaldi",
      "Filename": "Giovanni.Gastaldi_The_Drummer.jpg"
    },
    {
      "name": "Andrei Popa",
      "artName": "Quarantine Alphabet",
      "Instagram handle": "probablyanillustrator",
      "Insta link": "https://www.instagram.com/probablyanillustrator",
      "Filename": "QuarantineAlphabet_Andrei_Popa.jpg"
    }
  ];
  console.log(data);
  var galleryWrapper = document.querySelector('.gallery-placeholder');
  var fileBase = 'https://cdn.shopify.com/s/files/1/2567/2510/files/';
  var gallery = [];
  for(i=0; i<data.length; i++) {
    var dataStringFileName = fileBase + data[i].Filename;
    var dataStringArtistName = data[i].name;
    var dataStringArtName = data[i].artName;
    var fullString = '<div class="gallery-wrapper-box"><img src="'+ dataStringFileName + '"><h2>'+ dataStringArtistName + '</h2><p>'+ dataStringArtName +'</p></div>'
    gallery.push(fullString);
    console.log(gallery.join(''));
    galleryWrapper.innerHTML = gallery.join('');
  }
</script>
