<!-- /templates/about.page.liquid -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@0;1&display=swap" rel="stylesheet">
<div class="yuc-header">
  <div class="rf-wrapper products-wrapper">
    <h1>Young <br/><span class="black">Upstart</span> <br/><span class="italic">Competition</span></h1>
  </div>
  <div class="spinning-head">
    <div class="head"><img src="https://cdn.shopify.com/s/files/1/2567/2510/files/YUC_BANG.png?v=1611754390"></div>
  </div>
</div>
<div class="rf-wrapper intro-yuk products-wrapper winners">
  <h1>The Winners</h1>
  <div class="winners-products flex">
    {% assign winnersProducts = collections.young-upstart-competition.products | reverse %}
    {% for products in winnersProducts %}
      <div class="winner-product">
        <img src="{{ products | img_url: '1024x' }}">
        <h2>
          {{products.title}}
        </h2>
        <p>{{products.price | money }}</p>

        <div class="rf-button">
          <a href="{{ products.url }}">Buy now</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="yuk-beige">
  <div class="rf-wrapper intro-yuk products-wrapper">
    {{ page.content }}
  </div>
</div>
<div class="yuk-red">
  <div class="rf-wrapper enter products-wrapper  intro-yuk">
    <img class="wobble" src="https://cdn.shopify.com/s/files/1/2567/2510/files/tube.png?v=1611604926">
    <h1>Enter now</h1>
    <ol>
      <li>Send one image per artist only </li>
      <li>Submit your image via the form (linked below)</li>
      <li>Images submitted must be 1333 x 1000 px jpeg (though should be available as 24x32” JPG for print)</li>
      <li>Include a name for the image, and a short bio about you, your work and what other work you do</li>
    </ol>
    <p>Competition closes midnight GMT on February 10 2021 and the shortlist and winners will be announced on February 17 2021</p>
    <div class="rf-button">
      <a href="https://roomfifty.typeform.com/to/MZyOGpQR">Enter Awards</a>
    </div>
  </div>
</div>
<div class="yuk-beige">
  <div class="rf-wrapper judges products-wrapper intro-yuk">
    <h1>Judges</h1>
    <div class="flex">
      <p>
      Welcome our wonderful panel of judges from across the creative spectrum.
      </p>

      <h2 class="red">Matt Singer</h2>
      <h2 class="italic red">Warby Parker</h2>
      <h2>Alex Citrin</h2>
      <h2 class="italic">The New York Times</h2>
      <h2 class="red">Emma Shore</h2>
      <h2 class="italic red">Bandcamp</h2>
      <h2>Anna Hardinge</h2>
      <h2 class="italic">How Do You Do?</h2>
      <h2 class="red">Claire Cheung</h2>
      <h2 class="italic red">Studio PI</h2>
      <div class="rf-image">
        <img src="">
      </div>
    </div>
  </div>
</div>
<!-- <div class="rf-wrapper judges products-wrapper intro-yuk">
  <div class="flex flipped">
    <p>
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <div class="rf-image">
      <img src="">
    </div>
  </div>
</div> -->
<div class="rf-wrapper rules products-wrapper intro-yuk">
  <div>
    <h1>The rules</h1>
    <p>• Artists can be any age, but must not be full time artists</p>
    <p>• Please only enter one image per artist</p>
    <p>• Entries after the closing date will not be judged</p>
    <p>• The image must not have been sold as a print or published previously</p>
    <p>• The artist enters the competition understanding that their work may be sold by RoomFifty</p>
    <p>• The artist retains the copyright to their work</p>
    <p>Read our full <a href="https://roomfifty.com/pages/yuc-terms-and-conditions">terms and conditions</a></p>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/2567/2510/files/Coat.png?v=1611604926">
</div>
<!-- <div class="rf-wrapper gallery products-wrapper intro-yuk">
  <h1>Entries</h1>
  <div class="flex">
    <div class="gallery-box"></div>
    <div class="gallery-box"></div>
    <div class="gallery-box"></div>
    <div class="gallery-box"></div>
  </div>
</div> -->
<script>
  var data = [
    {
      "What's your full name?": "Sammi Lynch",
      "What is the name of the piece?": "Tall Trees",
      "Instagram handle": "sammijlynch",
      "Insta link": "https://www.instagram.com/sammijlynch",
      "Filename": "TallTrees_SammiLynch.jpg"
    },
    {
      "What's your full name?": "Yogee Chandrasekaran",
      "What is the name of the piece?": "Before a Night Out with the Girls",
      "Instagram handle": "yogeechandra",
      "Insta link": "https://www.instagram.com/yogeechandra",
      "Filename": "YogeeChandrasekaran_YUCSubmission_LowRes.jpg"
    },
    {
      "What's your full name?": "Sam Johnson",
      "What is the name of the piece?": "Palm of Hand",
      "Instagram handle": "samjohnsn_",
      "Insta link": "https://www.instagram.com/samjohnsn_",
      "Filename": "palm_of_hand_SJ.jpg"
    },
    {
      "What's your full name?": "Nicole Gureli",
      "What is the name of the piece?": "Carnevale",
      "Instagram handle": "nicolegureliart",
      "Insta link": "https://www.instagram.com/nicolegureliart",
      "Filename": "Gureli_Nicole_Carnevale_YUC.jpg"
    },
    {
      "What's your full name?": "Emily Lynn Perelman",
      "What is the name of the piece?": "Celestial Casino",
      "Instagram handle": "emilylynndesign",
      "Insta link": "https://www.instagram.com/emilylynndesign",
      "Filename": "Celestial_Casino___Emily_Lynn_Perelman.jpg"
    },
    {
      "What's your full name?": "Anna Niklova",
      "What is the name of the piece?": "Fountain",
      "Instagram handle": "anickart",
      "Insta link": "https://www.instagram.com/anickart",
      "Filename": "AnnaNiklova_Fountain.JPG"
    },
    {
      "What's your full name?": "Ebony Rose Howard",
      "What is the name of the piece?": "Misty Doe",
      "Instagram handle": "ehoward05art",
      "Insta link": "https://www.instagram.com/ehoward05art",
      "Filename": "Ebony_Rose_Howard_entry.jpg"
    },
    {
      "What's your full name?": "Joshua Rush",
      "What is the name of the piece?": "A Sustainable Life",
      "Instagram handle": "j.osh.r.ush",
      "Insta link": "https://www.instagram.com/j.osh.r.ush",
      "Filename": "1000x1333px_VER..jpg"
    },
    {
      "What's your full name?": "Alexandria Hall",
      "What is the name of the piece?": "Should have stayed in Spring",
      "Instagram handle": "alexandriaolivia",
      "Insta link": "https://www.instagram.com/alexandriaolivia",
      "Filename": "entry.jpg"
    },
    {
      "What's your full name?": "Anastacia Sholik",
      "What is the name of the piece?": "Dance with Tiger",
      "Instagram handle": "sh0lik",
      "Insta link": "https://www.instagram.com/sh0lik",
      "Filename": "sholik_small.jpg"
    },
    {
      "What's your full name?": "Hoi Chan",
      "What is the name of the piece?": "Quiet Seabed",
      "Instagram handle": "hoichandraws",
      "Insta link": "https://www.instagram.com/hoichandraws",
      "Filename": "Quiet_Seabed.jpg"
    },
    {
      "What's your full name?": "Taylor Dow",
      "What is the name of the piece?": "Weeping Man",
      "Instagram handle": "taydowtaydow",
      "Insta link": "https://www.instagram.com/taydowtaydow",
      "Filename": "dow_superpanel_YUC.jpg"
    },
    {
      "What's your full name?": "Emily Widdoes",
      "What is the name of the piece?": "Midnight Mushrooms",
      "Instagram handle": "emilywiddoes",
      "Insta link": "https://www.instagram.com/emilywiddoes",
      "Filename": "midnightmushrooms.jpg"
    },
    {
      "What's your full name?": "Fiona Ye - FIYE",
      "What is the name of the piece?": "We'll Meet Again",
      "Instagram handle": "_fiye_",
      "Insta link": "https://www.instagram.com/_fiye_",
      "Filename": "FIYE_YUC_submission.jpg"
    },
    {
      "What's your full name?": "Jack Holland",
      "What is the name of the piece?": "One Adult Please",
      "Instagram handle": "jckholland",
      "Insta link": "https://www.instagram.com/jckholland",
      "Filename": "jackhollandyucsentry.jpg"
    },
    {
      "What's your full name?": "Ellie Shay",
      "What is the name of the piece?": "Blueside",
      "Instagram handle": "dimpledoodles_",
      "Insta link": "https://www.instagram.com/dimpledoodles_",
      "Filename": "8C821086_6577_45E9_A380_1B267F614929.jpeg"
    },
    {
      "What's your full name?": "Alexandra Turban",
      "What is the name of the piece?": "A little Break",
      "Instagram handle": "alexandraturban",
      "Insta link": "https://www.instagram.com/alexandraturban",
      "Filename": "A_little_Break_Alexandra_Turban.jpg"
    },
    {
      "What's your full name?": "Colin Matthes",
      "What is the name of the piece?": "Essential Knowledge: Work From Home",
      "Instagram handle": "colinmatthes",
      "Insta link": "https://www.instagram.com/colinmatthes",
      "Filename": "MatthesC_ek76_graphic.jpg"
    },
    {
      "What's your full name?": "AJ HIGGINS",
      "What is the name of the piece?": "Magic Beans",
      "Instagram handle": "a.j_higgins",
      "Insta link": "https://www.instagram.com/a.j_higgins",
      "Filename": "AJHIGGINS_Magic_Beans_YUC_small.jpg"
    },
    {
      "What's your full name?": "Connor Parker",
      "What is the name of the piece?": "Flat perspective",
      "Instagram handle": "connorparker.png",
      "Insta link": "https://www.instagram.com/connorparker.png",
      "Filename": "Flat_perspective.jpg"
    },
    {
      "What's your full name?": "Maya Halko",
      "What is the name of the piece?": "Submarine Fish",
      "Instagram handle": "m.aymo",
      "Insta link": "https://www.instagram.com/m.aymo",
      "Filename": "SubmarineFish_YUCsubmission_Halko.jpg"
    },
    {
      "What's your full name?": "BOUCKA Fred Therence",
      "What is the name of the piece?": "Letter to the blackness in me",
      "Instagram handle": "bftlepictographe",
      "Insta link": "https://www.instagram.com/bftlepictographe",
      "Filename": "DSC_0999.jpg"
    },
    {
      "What's your full name?": "Julia Feingold",
      "What is the name of the piece?": "Modern Day Shopping",
      "Instagram handle": "j_feingold",
      "Insta link": "https://www.instagram.com/j_feingold",
      "Filename": "Feingold_Julia_ModernDayShopping.jpg"
    },
    {
      "What's your full name?": "Kiran Joan",
      "What is the name of the piece?": "Love Garden",
      "Instagram handle": "kiran.joan",
      "Insta link": "https://www.instagram.com/kiran.joan",
      "Filename": "Lovegarden_KiranJoan.jpg"
    },
    {
      "What's your full name?": "Charlotte MacMillan-Scott",
      "What is the name of the piece?": "Gas, 1950",
      "Instagram handle": "charlottemscott_illustration",
      "Insta link": "https://www.instagram.com/charlottemscott_illustration",
      "Filename": "GAS__1950_print.jpg"
    },
    {
      "What's your full name?": "Annelie Akesson",
      "What is the name of the piece?": "She's in Fashion",
      "Instagram handle": "rita_mera",
      "Insta link": "https://www.instagram.com/rita_mera",
      "Filename": "RoomFifty.jpg"
    },
    {
      "What's your full name?": "Grace Fairley",
      "What is the name of the piece?": "BEST FRIENDS",
      "Instagram handle": "fairley_decent",
      "Insta link": "https://www.instagram.com/fairley_decent",
      "Filename": "146267174_268796068106318_6743968769896244062_n.jpg"
    },
    {
      "What's your full name?": "Benjamin Clark",
      "What is the name of the piece?": "Underwater Scene",
      "Instagram handle": "benclarkart",
      "Insta link": "https://www.instagram.com/benclarkart",
      "Filename": "Underwater_Scene.jpg"
    },
    {
      "What's your full name?": "Isabell Altmaier",
      "What is the name of the piece?": "Jungle Cat",
      "Instagram handle": "Isabellaltmaier",
      "Insta link": "https://www.instagram.com/Isabellaltmaier",
      "Filename": "43E0626D_8A77_4F59_B0F5_D43B4BD52A8E.jpeg"
    },
    {
      "What's your full name?": "Ruta Vaketaite",
      "What is the name of the piece?": "Playground",
      "Instagram handle": "rutavakk",
      "Insta link": "https://www.instagram.com/rutavakk",
      "Filename": "0CC1820D_4223_40BB_BEFC_8B056FAC86E7.jpeg"
    },
    {
      "What's your full name?": "Tsai Mu Ling",
      "What is the name of the piece?": "Dreamy organic",
      "Instagram handle": "moooling",
      "Insta link": "https://www.instagram.com/moooling",
      "Filename": "YUC_Tsai_Mu_Ling.jpg"
    },
    {
      "What's your full name?": "Sam Moore",
      "What is the name of the piece?": "Neighbour",
      "Instagram handle": "smamuel.design",
      "Insta link": "https://www.instagram.com/smamuel.design",
      "Filename": "SAM_MOORE_YUC_NEIGHBOUR.jpg"
    },
    {
      "What's your full name?": "Vicki Wirkijowski",
      "What is the name of the piece?": "Finger Puppet (BFF)",
      "Instagram handle": "victoriawirkijowski",
      "Insta link": "https://www.instagram.com/victoriawirkijowski",
      "Filename": "finger_puppet_BFF_wirkijowski.jpeg"
    },
    {
      "What's your full name?": "Louis Bartlett",
      "What is the name of the piece?": "Refracted Audio Volumes",
      "Instagram handle": "_louisbartlett_",
      "Insta link": "https://www.instagram.com/_louisbartlett_",
      "Filename": "YUC_SUBMISSION.jpg"
    },
    {
      "What's your full name?": "Julia Lowe",
      "What is the name of the piece?": "The Solo Parent",
      "Instagram handle": "julia_peculiar_",
      "Insta link": "https://www.instagram.com/julia_peculiar_",
      "Filename": "Solo_Mum.jpg"
    },
    {
      "What's your full name?": "Sara Nye",
      "What is the name of the piece?": "Putting Down Roots",
      "Instagram handle": "sundaygrandma",
      "Insta link": "https://www.instagram.com/sundaygrandma",
      "Filename": "Nye_Sara_YUC_submission.jpg"
    },
    {
      "What's your full name?": "Amogh Bhatnagar",
      "What is the name of the piece?": "Untitled with Agate and Tentacles",
      "Instagram handle": "_amoghbhatnagar_",
      "Insta link": "https://www.instagram.com/_amoghbhatnagar_",
      "Filename": "Amogh_Collage_Artwork_2.jpg"
    },
    {
      "What's your full name?": "Lois Laryea",
      "What is the name of the piece?": "Self portrait",
      "Instagram handle": "lois.laryea",
      "Insta link": "https://www.instagram.com/lois.laryea",
      "Filename": "EA69B0EC_5D64_4C18_ACBE_75C2217CAD52.jpeg"
    },
    {
      "What's your full name?": "Florence Poppy Dennis",
      "What is the name of the piece?": "Good Morning Raccoon",
      "Instagram handle": "florencepoppydennis",
      "Insta link": "https://www.instagram.com/florencepoppydennis",
      "Filename": "GOOD_MORNING___FLORENCE_POPPY_ENTRY_FOR_ROOM_FIFTY.jpg"
    },
    {
      "What's your full name?": "Giovanni Gastaldi",
      "What is the name of the piece?": "The Drummer",
      "Instagram handle": "giovanni.gastaldi",
      "Insta link": "https://www.instagram.com/giovanni.gastaldi",
      "Filename": "Giovanni.Gastaldi_The_Drummer.jpg"
    },
    {
      "What's your full name?": "Andrei Popa",
      "What is the name of the piece?": "Quarantine Alphabet",
      "Instagram handle": "probablyanillustrator",
      "Insta link": "https://www.instagram.com/probablyanillustrator",
      "Filename": "QuarantineAlphabet_Andrei_Popa.jpg"
    }
  ];
  console.log(data);
</script>
